.DS_Store
hosts
playbook.retry
templates/smstools/smsd.conf
templates/smstools/test.sms
templates/smstools/61-option-modem-modeswitch.rules
templates/homebridge/config.json
templates/wlan/wpa_supplicant.conf